.History p{
    margin: 50px;
    font-size: 18px;
}
.History h2{
    margin-top: 50px;
    font-size: 18px;
}
.History img{
    height: auto;
    margin-top: -20px;
}
.Recruitment-img-first img{
    margin-top: -20px;
    height: auto;
}