body{
    background-color: rgb(240, 243, 245);
    
}
.logo img{
    width: 250px;
    height: 250px;
    border-radius: 6px;
}
.btn-info{
    background-color: rgb(6, 67, 120);
    width: 200px;
    color: white;
    border-radius: 4px;
    font-size: 16px;
    margin-top: 10px;
    box-shadow: 0px 3px rgb(72, 124, 164);
    border: 0;

}
.maincontent{
    margin: 100px;
}