.App {
  text-align: center;
  
}
h1{
  
  color: black;
}
body{
  color: black;
}

.foot{
  
  bottom: 0;
  width: 100%;
  text-align: center;
  background: #00123c;
  color: aliceblue;
  padding: 10px;

}
#divLang div{
  display: flex;
  display: inline-block;
  padding: 0 35px;
  margin-bottom:-12px ;
}
.emergency-call-top p {
  font-size: 16px;
  
}