*{
    margin: 0px;
    
}

.copyright {
    padding: 10px;
    width: 100%;
    background-color: rgba(0,0,70);
    color: #fff;
    font-size: 14px;
    bottom: 0;
    

}
.page{
    height: 340px;
}