*{
    margin: 0px;
    
}

footer {
    bottom: 0px;
    background-color: rgba(0,0,70);
    padding: 0 0 10px 0;
    color: #fff;
    font-size: 14px;
}
footer .footer-top {
    padding: 60px 0 30px 0;
    text-align: left;
}

footer .copyright {
    text-align: center;
    padding-top: 10px;
}
footer .copyright {
    margin: 0 0 5px 0;
}
footer p {
    font-size: 16px;
    padding: 0;
    margin: 0 0 0px 0;
}