.AboutList {
  margin: 50px 400px;
}

.AboutList li {
  margin-bottom: 5px;
  list-style: none;
  background-color: rgb(109, 147, 219);
  border: 0px solid black;
  border-radius: 4px;
}

.about-data {
  color: black;
  width: 220px;
  font-size: 30px;
}
